{% extends 'base.html'%}
{% block content %}
<section id="CONTACTO"></section>
<H4 class="text-center"> CONTACTO</H4>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Nombre</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Asunto</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
</div>
</div>  
</div>
</div>
</div>
{% endblock %}